@import "tailwindcss";

.hero-gradient {
    display: block;
    height: 100%;
    inset: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 0;
}

:root {
  --gradient-color-1: #ff631c;
  --gradient-color-2: #ce6735;
  --gradient-color-3: #6b6e66;
  --gradient-color-4: #3a727f;
}

.header-text {
  text-transform: uppercase;
  font-family: var(--font-anton), sans-serif;
}